<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/imgs.js"></script>
    <title>台北一日遊</title>
</head>
<body>
    <header>
        <nav>
            <h1>
                <a href="/">台北一日遊</a>
            </h1>
            <ul>
                <li>
                    <a href="#">預定行程</a>
                </li>
                <li>
                    <a href="#">登入/註冊</a>
                </li>
            </ul>    
        </nav>
    </header>
    <menu>
        <div class="main_nav">
            <div class="leftbox">
                <h2>輕鬆享受台北一日悠閒</h2>
                <i>探索每個角落，體驗城市的深度旅遊行程</i>
                <div class="search">
                    <input id="search_text" type="text" value="輸入景點名稱查詢">
                    <button id="search_btn"></button>
                </div>    
            </div>
            <div class="rightbox"></div>
        </div>
    </menu>
    <main>
        <ul class="container">
        </ul>
    </main>
    <footer>
        <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
        <div class="next_page"></div>
    </footer>
</html>