<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>台北一日遊</title>
</head>
<body>
    <header>
        <nav>
            <h1></h1>
            <ul>
                <li></li>
                <li></li>
            </ul>    
        </nav>
    </header>
    <menu>
        <div class="main_nav">
            <h2></h2>
            <i></i>
            <div class="search">
                <input type="search">
                <span></span>
            </div>
        </div>
    </menu>
    <main>
        <ul class="container">
            <li>
                <a href="#">
                    <img src="#" alt="">
                    <h3>
                        <span></span>
                        <span>
                            <i></i>
                            <i></i>
                        </span>
                    </h3>
                </a>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </main>
    <footer>
        <div class="copyright"></div>
    </footer>
</html>