<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/scss/user.css">
    <script type="text/javascript" src="../static/js/imgs.js"></script>
    <script type="text/javascript" src="../static/js/user_system.js"></script>
    <script type="text/javascript" src="../static/js/booking.js"></script>
    <script type="text/javascript" src="../static/js/controller.js"></script>
    <title>台北一日遊</title>
</head>
<body>
    <header>
        <nav>
            <h1>
                <a href="/">台北一日遊</a>
            </h1>
            <ul>
                <li id="booking_action">
                    <a href="#">預定行程</a>
                </li>
                <li id="user_action">
                    <a href="#">登入/註冊</a>
                </li>
            </ul>    
        </nav>
    </header>
    <menu>
        <div class="main_nav">
            <div class="leftbox">
                <h2>輕鬆享受台北一日悠閒</h2>
                <i>探索每個角落，體驗城市的深度旅遊行程</i>
                <div class="search">
                    <input id="search_text" type="text" value="輸入景點名稱查詢">
                    <button id="search_btn"></button>
                </div>  
            </div>
            <div class="rightbox"></div>
        </div>
    </menu>
    <section class="hide">
        <ul id="signin" class="user_box">
            <li>
                <h3>登入會員帳號</h3>
                <i class="cross"></i>
            </li>
            <li>
                <form action="" name="form_signin">
                    <input id="signin_email" name="email" type="email" placeholder="輸入電子信箱">
                    <input id="signin_pwd" name="pwd" type="password" placeholder="輸入密碼">
                    <button id="signin_btn" type="button">登入帳戶</button> 
                </form>
            </li>
            <li>
                <span class="hide">提示錯誤訊息</span>
                <a class="change_box" href="#">還沒有帳戶? 點此註冊</a>
            </li>
        </ul>
        <ul id="signup" class="hide">
            <li>
                <h3>註冊會員帳號</h3>
                <i class="cross"></i>
            </li>
            <li>
                <form action="" name="form_signup" method="post">
                    <input id="signin_name" name="name" type="text" placeholder="輸入姓名">
                    <input id="signup_email" name="email" type="email" placeholder="輸入電子信箱">
                    <input id="signup_pwd" name="pwd" type="password" placeholder="輸入密碼">
                    <button id="signup_btn" type="button">註冊新帳戶</button>    
                </form>
            </li>
            <li>
                <span class="hide">提示錯誤訊息</span>
                <a class="change_box" href="#">已經有帳戶了? 點此登入</a>
            </li>
        </ul>
    </section>
    <main>
        <ul class="container">
        </ul>
    </main>
    <footer>
        <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
        <div class="next_page"></div>
    </footer>
</html>