// ==================== variable ====================
$main_color: #448899;
$sub_color: #E8E8E8;
$font_color: #666;

$width: (
    desktop: 1200px,
    tablet: 100%,
    phone: 100%
);

@mixin flex_type($type) {
    display: flex;
    justify-content: $type;
}

@keyframes show_right {
    0% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@keyframes hide_right {
    0% {
        left: 0%;
        opacity: 1;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}
@keyframes show_left {
    0% {
        left: -100%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@keyframes hide_left {
    0% {
        left: 0%;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

/* ==================== initialize ==================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: Noto Sans TC, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $font_color;

    a {
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    i {
        font-style: normal;
    }
    img { 
        display: block;
    }
    
}

header nav ul li:hover a {
    text-decoration: underline;
}

/* ==================== >1200px ==================== */
@media screen and (min-width: 1200px) {
    /* ==================== header start ==================== */
    header {
        position: sticky;
        top: 0;
        border-bottom: 1px solid $sub_color;
        width: 100%;
        z-index: 1;
        background-color: #fff;
        nav {
            @include flex_type(space-between);
            margin: 0 auto;
            width: map-get($width, desktop);
            height: 54px;
            // background-color: sandybrown;
            h1 a {
                width: 150px;
                font-size: 30px;
                font-weight: 700;
                line-height: 54px;
                color: $main_color;
                // background-color: seagreen;
            }
            ul {
                width: 175px;
                // background-color: blue;
                a {
                    float: left;
                    padding-right: 20px;
                    line-height: 54px;
                }
            }
        }
    }
    /* ==================== header end ==================== */
    
    /* ==================== main start ==================== */
    main {
        .top_box {
            @include flex_type(space-around);
            margin: 0 auto;
            padding: 40px 0;
            border-bottom: 1px solid $sub_color;
            width: map-get($width, desktop);
            height: 480px;
            // background-color: #448899;
            .left_box {
                position: relative;
                width: 540px;
                height: 100%;
                // background-color: #994411;
                .scenery_imgs {
                    position: relative;
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        opacity: 0;
                    }
                }

                .control_box {
                    position: absolute;
                    top: 0;
                    @include flex_type(space-between);
                    align-items: center;
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    // background-color: #448899;
                    span {
                        display: block;
                        margin: 0 10px;
                        width: 36px;
                        height: 36px;
                        opacity: 0.7;
                        cursor: pointer;
                        // background-color: #E8E8E8;
                        &:active {
                            border: 1px solid #333;
                            border-radius: 36px;
                            transform: translateX(2px);
                        }
                    }
                    span:first-of-type {
                        background: url(../imgs/btn_leftArrow.png);
                    }
                    span:last-of-type {
                        background: url(../imgs/btn_rightArrow.png);
                    }
                    ol {
                        align-self: flex-end;
                        display: flex;
                        margin-bottom: 13px;
                        li {
                            margin-right: 12px;
                            border: 1px solid #fff;
                            border-radius: 12px;
                            width: 12px;
                            height: 12px;
                            cursor: pointer;
                            background-color: #fff;
                        }
                    }
                }
            }
            .right_box {
                @include flex_type(space-between);
                flex-direction: column;
                width: 50%;
                height: 100%;
                background-color: #fff;
                // background-color: #448899;
                h2 {
                    margin-top: 5px;
                    height: 33px;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 33px;
                }
                form {
                    @include flex_type(space-between);
                    flex-direction: column;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    padding: 15px 20px 50px 20px;
                    width: 100%;
                    height: 290px;
                    background-color: $sub_color;
                    h3 {
                        font-weight: 700;
                    }
                    #date{
                        border: 0;
                        padding: 0 10px;
                        width: 193px;
                        height: 35px;
                        outline: none;
                    }
                    table {
                        width: 100%;
                        height: 100px;
                        tr {
                            td:first-of-type {
                                width: 80px;
                                height: 35px;
                                font-weight: 700;
                                line-height: 35px;
                                // background-color: #994411;
                            }
                            ul {
                                @include flex_type(flex-start);
                                li {
                                    position: relative;
                                    width: 90px;
                                    input[type=radio] {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        line-height: 100%;
                                        opacity: 0;
                                        cursor: pointer;
                                    }
                                    label {
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        border-radius: 100%;
                                        width: 22px;
                                        height: 22px;
                                        cursor: pointer;
                                        background-color: #fff;
                                    }
                                    span {
                                        padding-left: 25px;
                                    }
                                    input[type=radio]:checked+label{
                                        border: 2px solid #fff;
                                        background: $main_color;
                                    }
                                }
                            }
                        }
                    }
                    button {
                        border: 0;
                        border-radius: 5px;
                        width: 150px;
                        height: 40px;
                        font-size: 19px;
                        color: #fff;
                        cursor: pointer;
                        background-color: $main_color;
                        &:hover {
                            background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
                        }
                        &:active {
                            border: 2px solid #ccc;
                        }
                    }
                }
            }
        }
        .bottom_box {
            @include flex_type(space-between);
            flex-direction: column;
            margin: 30px auto;
            width: map-get($width, desktop);
            // background-color: #998844;
            li {
                margin: 20px 0;
                // background-color: #448899;
                i {
                    font-weight: 700
                }
            }
        }
    }
    /* ==================== main end ==================== */

    /* ==================== footer start ==================== */
    footer {
        @include flex_type(center);
        margin-top: 70px;
        width: 100%;
        height: 104px;
        background-color: #757575;
        .copyright {
            line-height: 104px;
            color: #fff;
        }    
    }
    /* ==================== footer end ==================== */
}

/* ==================== 600px~1200px ==================== */
@media screen and (min-width: 650px) and (max-width: 1200px) {
    /* ==================== header start ==================== */
    header {
        position: sticky;
        top: 0;
        border-bottom: 1px solid $sub_color;
        width: 100%;
        z-index: 1;
        background-color: #fff;
        nav {
            @include flex_type(space-between);
            margin: 0 auto;
            width: map-get($width, tablet);
            height: 54px;
            // background-color: sandybrown;
            h1 a {
                margin-left: 10px;
                width: 150px;
                font-size: 30px;
                font-weight: 700;
                line-height: 54px;
                color: $main_color;
                // background-color: seagreen;
            }
            ul {
                @include flex_type(space-between);
                // background-color: blue;
                a {
                    padding: 0 10px;
                    line-height: 54px;
                }
            }
        }
    }
    /* ==================== header end ==================== */
    
    /* ==================== main start ==================== */
    main {
        .top_box {
            @include flex_type(center);
            padding: 40px 0;
            border-bottom: 1px solid $sub_color;
            width: map-get($width, tablet);
            // background-color: #448899;
            .left_box {
                position: relative;
                margin-left: 20px;
                width: 50%;
                height: 350px;
                // background-color: #994411;
                .scenery_imgs {
                    position: relative;
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        opacity: 0;
                    }
                }

                .control_box {
                    position: absolute;
                    top: 0;
                    @include flex_type(space-between);
                    align-items: center;
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    // background-color: #448899;
                    span {
                        display: block;
                        margin: 0 10px;
                        width: 36px;
                        height: 36px;
                        opacity: 0.7;
                        cursor: pointer;
                        // background-color: #E8E8E8;
                        &:active {
                            border: 1px solid #333;
                            border-radius: 36px;
                            transform: translateX(2px);
                        }
                    }
                    span:first-of-type {
                        background: url(../imgs/btn_leftArrow.png);
                    }
                    span:last-of-type {
                        background: url(../imgs/btn_rightArrow.png);
                    }
                    ol {
                        align-self: flex-end;
                        display: flex;
                        margin-bottom: 13px;
                        li {
                            margin-right: 12px;
                            border: 1px solid #fff;
                            border-radius: 12px;
                            width: 12px;
                            height: 12px;
                            cursor: pointer;
                            background-color: #fff;
                        }
                    }
                }
            }
            .right_box {
                @include flex_type(space-between);
                flex-direction: column;
                width: 50%;
                height:  350px;
                background-color: #fff;
                margin: 0 20px;
                // background-color: #448899;
                h2 {
                    height: 33px;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 33px;
                }
                i {
                    margin: 10px 0;
                }
                #date{
                    border: 0;
                    padding: 0 10px;
                    // width: 193px;
                    height: 35px;
                    outline: none;
                }
                form {
                    @include flex_type(space-between);
                    flex-direction: column;
                    padding: 10px;
                    border-radius: 5px;
                    width: 100%;
                    height: 290px;
                    background-color: $sub_color;
                    h3 {
                        font-weight: 700;
                    }
                    table {
                        width: 100%;
                        height: 100px;
                        tr {
                            td:first-of-type {
                                width: 80px;
                                height: 35px;
                                font-weight: 700;
                                line-height: 35px;
                                // background-color: #994411;
                            }
                            ul {
                                @include flex_type(flex-start);
                                li {
                                    position: relative;
                                    width: 90px;
                                    input[type=radio] {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        line-height: 100%;
                                        opacity: 0;
                                        cursor: pointer;
                                    }
                                    label {
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        border-radius: 100%;
                                        width: 22px;
                                        height: 22px;
                                        cursor: pointer;
                                        background-color: #fff;
                                    }
                                    span {
                                        padding-left: 25px;
                                    }
                                    input[type=radio]:checked+label{
                                        border: 2px solid #fff;
                                        background: $main_color;
                                    }
                                }
                            }
                        }
                    }
                    button {
                        border: 0;
                        border-radius: 5px;
                        width: 150px;
                        height: 40px;
                        font-size: 19px;
                        color: #fff;
                        cursor: pointer;
                        background-color: $main_color;
                        &:hover {
                            background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
                        }
                        &:active {
                            border: 2px solid #ccc;
                        }
                    }
                }
            }
        }
        .bottom_box {
            @include flex_type(space-between);
            flex-direction: column;
            margin: 30px auto;
            padding: 0 20px;
            width: map-get($width, tablet);
            // background-color: #998844;
            li {
                margin: 20px 0;
                // background-color: #448899;
                i {
                    font-weight: 700
                }
            }
        }
    }
    /* ==================== main end ==================== */

    /* ==================== footer start ==================== */
    footer {
        @include flex_type(center);
        margin-top: 70px;
        width: 100%;
        height: 104px;
        background-color: #757575;
        .copyright {
            line-height: 104px;
            color: #fff;
        }    
    }
    /* ==================== footer end ==================== */
}

/* ==================== <600px ==================== */
@media screen and (max-width: 650px) {
    /* ==================== header start ==================== */
    header {
        position: sticky;
        top: 0;
        border-bottom: 1px solid $sub_color;
        width: 100%;
        z-index: 1;
        background-color: #fff;
        nav {
            @include flex_type(space-between);
            margin: 0 auto;
            width: map-get($width, tablet);
            height: 54px;
            // background-color: sandybrown;
            h1 a {
                margin-left: 10px;
                width: 150px;
                font-size: 30px;
                font-weight: 700;
                line-height: 54px;
                color: $main_color;
                // background-color: seagreen;
            }
            ul {
                @include flex_type(space-between);
                // background-color: blue;
                a {
                    padding: 0 10px;
                    line-height: 54px;
                }
            }
        }
    }
    /* ==================== header end ==================== */
    
    /* ==================== main start ==================== */
    main {
        .top_box {
            @include flex_type(center);
            flex-wrap: wrap;
            padding: 40px 0;
            border-bottom: 1px solid $sub_color;
            width: map-get($width, tablet);
            // background-color: #448899;
            .left_box {
                position: relative;
                width: 100%;
                height: 350px;
                // background-color: #994411;
                .scenery_imgs {
                    position: relative;
                    // border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        opacity: 0;
                    }
                }

                .control_box {
                    position: absolute;
                    top: 0;
                    @include flex_type(space-between);
                    align-items: center;
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    // background-color: #448899;
                    span {
                        display: block;
                        margin: 0 10px;
                        width: 36px;
                        height: 36px;
                        opacity: 0.7;
                        cursor: pointer;
                        // background-color: #E8E8E8;
                        &:active {
                            border: 1px solid #333;
                            border-radius: 36px;
                            transform: translateX(2px);
                        }
                    }
                    span:first-of-type {
                        background: url(../imgs/btn_leftArrow.png);
                    }
                    span:last-of-type {
                        background: url(../imgs/btn_rightArrow.png);
                    }
                    ol {
                        align-self: flex-end;
                        display: flex;
                        margin-bottom: 13px;
                        li {
                            margin-right: 12px;
                            border: 1px solid #fff;
                            border-radius: 12px;
                            width: 12px;
                            height: 12px;
                            cursor: pointer;
                            background-color: #fff;
                        }
                    }
                }
            }
            .right_box {
                @include flex_type(space-between);
                flex-direction: column;
                width: 100%;
                height: 100%;
                margin: 20px 10px;
                background-color: #fff;
                // background-color: #448899;
                h2 {
                    height: 33px;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 33px;
                }
                i {
                    margin: 20px 0;
                }
                #date{
                    border: 0;
                    padding: 0 10px;
                    // width: 193px;
                    height: 35px;
                    outline: none;
                }
                form {
                    @include flex_type(space-between);
                    flex-direction: column;
                    border-radius: 5px;
                    padding: 15px 20px;
                    width: 100%;
                    height: 290px;
                    background-color: $sub_color;
                    h3 {
                        font-weight: 700;
                    }
                    table {
                        width: 100%;
                        height: 100px;
                        tr {
                            td:first-of-type {
                                width: 80px;
                                height: 35px;
                                font-weight: 700;
                                line-height: 35px;
                                // background-color: #994411;
                            }
                            ul {
                                @include flex_type(flex-start);
                                li {
                                    position: relative;
                                    width: 90px;
                                    input[type=radio] {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        line-height: 100%;
                                        opacity: 0;
                                        cursor: pointer;
                                    }
                                    label {
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        border-radius: 100%;
                                        width: 22px;
                                        height: 22px;
                                        cursor: pointer;
                                        background-color: #fff;
                                    }
                                    span {
                                        padding-left: 25px;
                                    }
                                    input[type=radio]:checked+label{
                                        border: 2px solid #fff;
                                        background: $main_color;
                                    }
                                }
                            }
                        }
                    }
                    button {
                        border: 0;
                        border-radius: 5px;
                        width: 150px;
                        height: 40px;
                        font-size: 19px;
                        color: #fff;
                        cursor: pointer;
                        background-color: $main_color;
                        &:hover {
                            background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
                        }
                        &:active {
                            border: 2px solid #ccc;
                        }
                    }
                }
            }
        }
        .bottom_box {
            @include flex_type(space-between);
            flex-direction: column;
            margin: 30px auto;
            padding: 0 20px;
            width: map-get($width, tablet);
            // background-color: #998844;
            li {
                margin: 20px 0;
                // background-color: #448899;
                i {
                    font-weight: 700
                }
            }
        }
    }
    /* ==================== main end ==================== */

    /* ==================== footer start ==================== */
    footer {
        @include flex_type(center);
        margin-top: 70px;
        width: 100%;
        height: 104px;
        background-color: #757575;
        .copyright {
            line-height: 104px;
            color: #fff;
        }    
    }
    /* ==================== footer end ==================== */
}